[Desktop Entry]
Name=WmPinboard
Comment=Miniature pinboard
Comment[pl]=Miniaturowa tablica na notatki
Exec=wmpinboard
Terminal=false
Type=Application
# vi: encoding=utf-8
