[Desktop Entry]
Encoding=UTF-8
Name=WmPinboard
Comment=Miniature pinboard
Comment[pl]=Miniaturowa tablica na notatki
Exec=wmpinboard
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
