[Desktop Entry]
Name=WmPinboard
Comment=Miniature pinboard
Comment[pl]=Miniaturowa tablica na notatki
Exec=wmpinboard -w
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
